.header {
	padding: 0;
	margin-inline: 40px;
	border-block-end: 1px solid #d59c9a;
	position: relative;
}

.header nav {
	inline-size: 100%;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.styles.firstNavItem {
	order: 1;
}

.logo {
	order: 2;
}

.lastNavItem {
	order: 3;
}

.header a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #052945;
	transition: 0.5s ease-in-out;
	position: relative;
}

.header li a::after {
	display: block;
	position: absolute;
	left: 30px;
	top: 50%;
	inline-size: 0;
	block-size: 1px;
	background-color: #d59c9a;
	content: '';
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
}

.header a:hover,
.header a:hover::after,
.header a:active,
.header a:active::after,
.header a.active,
.header a.active::after {
	color: #d59c9a;
	inline-size: 80px;
}

.header h1 {
	transition: 0.5s ease-in-out;
}

.header h1:hover {
	color: #d59c9a;
}

.badge {
	background: #d59c9a;
	color: #ffffff;
	border: 1px solid #d59c9a;
	border-radius: 12px;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	margin-inline-start: 2rem;
	transition: 0.5s ease-in-out;
}

.badge:hover {
	background: #ffffff;
	color: #d59c9a;
}
